on:
 workflow_dispatch:
  inputs:
   who-to-greet:
      description: 'Who to greet'
      required: true
      default: 'World'
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    name: A job to say hello
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Hello world action step
      id: hello
      uses: ./.github/actions/hello-world-docker-action
      with:
        who-to-greet: ${{ github.event.inputs.who-to-greet }}

    - name: Get the output time
      run: echo "The time was ${{ steps.hello.outputs.time }}"